{% extends "base.html" %} {% block content %}
<!-- Start your project here-->

<div id="preview" class="preview">
  <div style="display: none"></div>
  <div>
    <div data-draggable="true" class="" style="position: relative">
      <!---->
      <!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 text-center text-lg-start">
          <style>
            .cascading-right {
              margin-right: -50px;
            }

            @media (max-width: 991.98px) {
              .cascading-right {
                margin-right: 0;
              }
            }
          </style>
          <!-- Jumbotron -->
          <div class="container py-4">
            <div class="row g-0 align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div
                  class="card cascading-right"
                  style="
                  background: hsla(0, 13%, 11%, 0.55);
                  backdrop-filter: blur(30px);
                  ">
                  <div class="card-body py-5 px-md-5 shadow-5">
                    <h2 class="fw-bold mb-4">Structured Cabling</h2>
                    <p class="text-muted mb-4">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      A soluta corporis voluptate ab error quam dolores
                      doloremque, quae consectetur.
                    </p>
                    <div class="row mb-3">
                      <div class="col-lg-4">
                        <p>
                          <i class="fas fa-check-circle text-dark me-2"></i><span>Best
                            team</span>
                        </p>
                      </div>
                      <div class="col-lg-4">
                        <p>
                          <i class="fas fa-check-circle text-dark me-2"></i><span>Best
                            quality</span>
                        </p>
                      </div>
                      <div class="col-lg-4">
                        <p>
                          <i class="fas fa-check-circle text-dark me-2"></i><span>Best
                            experience</span>
                        </p>
                      </div>
                    </div>
                    <p class="text-muted mb-0">
                      In ac turpis justo. Vivamus auctor quam vitae odio feugiat
                      pulvinar. Sed semper ligula sed lorem tincidunt dignissim.
                      Nam sed cursus lectus. Proin non rutrum magna. Proin
                      gravida, justo et imperdiet tristique, turpis nisi viverra
                      est, nec posuere ex arcu sit amet erat. Sed a dictum sem.
                      Duis pretium condimentum nulla, ut aliquet erat auctor
                      sed. Aenean facilisis neque id ligula maximus scelerisque.
                      Nunc sed velit rhoncus, interdum dolor at, lacinia lacus.
                      Proin eleifend viverra posuere. Ut commodo risus lacus, ac
                      scelerisque quam aliquam dictum. Etiam dignissim pulvinar
                      eros eget auctor. Quisque congue turpis quis libero
                      ullamcorper imperdiet. Vivamus a orci maximus, dignissim
                      ligula a, congue dui. Morbi et lectus sit amet neque
                      luctus viverra.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-5 mb-lg-0">
                <img
                  src="https://mdbootstrap.com/img/new/ecommerce/vertical/117.jpg"
                  class="w-100 rounded-4 shadow-4"
                  alt=""
                  aria-controls="#picker-editor"
                  />
              </div>
            </div>
          </div>
          <!-- Jumbotron -->
        </section>
      </section>
      <!---->
    </div>
    <div
      data-draggable="true"
      class=""
      style="position: relative"
      draggable="false">
      <!---->
      <!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 position-relative">
          <style>
            @media (min-width: 768px) {
              #cta-img-nml-50 {
                margin-left: 50px;
              }
            }
          </style>
          <div class="row gx-0">
            <div class="col-md-5 mb-4 mb-md-0">
              <div class="d-flex py-md-5">
                <img
                  src="https://mdbootstrap.com/img/new/standard/people/035.jpg"
                  class="w-100 rounded-5 shadow-3-strong"
                  id="cta-img-nml-50"
                  style="z-index: 10"
                  alt=""
                  aria-controls="#picker-editor"
                  draggable="false"
                  />
              </div>
            </div>
            <div class="col-md-7 mb-4 mb-md-0">
              <div
                class=" h-100 rounded-6 p-4 ps-md-5 text-white d-flex
                align-items-center" style="background:hsla(0, 0%, 100%, 0.55);">
                <div class="ps-md-5">
                  <h2 class="fw-bold mb-4">What are you waiting for?</h2>
                  <p class="mb-4">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Maxime, sint, repellat vel quo quisquam accusamus in qui at
                    ipsa enim quibusdam illo laboriosam omnis. Labore itaque
                    illum distinctio eum neque!
                  </p>
                  <button
                    type="button"
                    class="btn btn-outline-white btn-rounded btn-lg"
                    aria-controls="#picker-editor">
                    Sign up now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!---->
    </div>
    <div data-draggable="true" class="" style="position: relative">
      <!---->
      <!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
          <style>
            .rounded-t-5 {
              border-top-left-radius: 0.5rem;
              border-top-right-radius: 0.5rem;
            }

            @media (min-width: 992px) {
              .rounded-tr-lg-0 {
                border-top-right-radius: 0;
              }

              .rounded-bl-lg-5 {
                border-bottom-left-radius: 0.5rem;
              }
            }
          </style>
          <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
              <div class="col-lg-4 d-none d-lg-flex">
                <img
                  src="https://mdbootstrap.com/img/new/ecommerce/vertical/126.jpg"
                  alt="Trendy Pants and Shoes"
                  class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"
                  aria-controls="#picker-editor"
                  />
              </div>
              <div class="col-lg-8">
                <div class="card-body py-5 px-md-5">
                  <h2 class="fw-bold mb-4">Top quality product</h2>
                  <p class="text-muted mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                    soluta corporis voluptate ab error quam dolores doloremque,
                    quae consectetur.
                  </p>
                  <div class="row mb-3">
                    <div class="col-lg-4 mb-2">
                      <p>
                        <i class="fas fa-check-circle text-dark me-2"></i><span>Noise
                          cancelling</span>
                      </p>
                    </div>
                    <div class="col-lg-4 mb-2">
                      <p>
                        <i class="fas fa-check-circle text-dark me-2"></i><span>Touch
                          controls</span>
                      </p>
                    </div>
                    <div class="col-lg-4 mb-2">
                      <p>
                        <i class="fas fa-check-circle text-dark me-2"></i><span>Clear
                          calls</span>
                      </p>
                    </div>
                    <div class="col-lg-4 mb-2">
                      <p>
                        <i class="fas fa-check-circle text-dark me-2"></i><span>Quite
                          mode</span>
                      </p>
                    </div>
                    <div class="col-lg-4 mb-2">
                      <p>
                        <i class="fas fa-check-circle text-dark me-2"></i><span>Secure</span>
                      </p>
                    </div>
                    <div class="col-lg-4 mb-2">
                      <p>
                        <i class="fas fa-check-circle text-dark me-2"></i><span>Comfortable</span>
                      </p>
                    </div>
                  </div>
                  <button
                    type="button"
                    class="btn btn-dark btn-lg px-5"
                    aria-controls="#picker-editor">
                    Buy now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!---->
    </div>
  </div>
</div>

<!-- End your project here-->

{% endblock %}
