{% extends "base.html" %}


{% block content %}

<!--HERO START-->
<div data-draggable="true" class="" style="position: relative;">
    <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
      <section class="mb-10">
        <!-- Background image -->
        <div class="p-5 text-center bg-image"
          style="background-image: url(&quot;https://mdbootstrap.com/img/new/textures/full/142.jpg&quot;); height: 125px; background-size: cover; background-position: 50% 50%; background-color: rgba(0, 0, 0, 0);"
          aria-controls="#picker-editor"></div> <!-- Background image -->
      </section>
    </section>
  </div>
  <!--HERO ENDs-->
  
{% endblock %}