{% extends "base.html" %}

{% block title %} Nicks Website - Home {% endblock %}

{% block content %}

<body>

    <div data-draggable="true" class="" style="position: relative;">
      <!---->
      <!---->
      <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
        <section class="mb-10">
          <!-- Background image -->
          <div class="p-5 text-center bg-image"
            style="background-image: url(&quot;https://mdbootstrap.com/img/new/textures/full/142.jpg&quot;); height: 350px; background-size: cover; background-position: 50% 50%; background-color: rgba(0, 0, 0, 0);"
            aria-controls="#picker-editor"></div> <!-- Background image -->
          <div class="container">
            <div class="card mx-4 mx-md-5 text-center shadow-5-strong"
              style=" margin-top: -170px; background: hsla(0, 0%, 15%, 0.7); backdrop-filter: blur(30px); ">
              <div class="card-body px-4 py-5 px-md-5">
                <h1 class="display-3 fw-bold ls-tight mb-4"> <span>The best offer on the market</span> <br>
                  <span style="color:#177775;">for your business</span>
                </h1>
                <a class="btn btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" style="color: white;background-color:#17777564;"
                  data-ripple-color="primary" href="#" role="button" aria-controls="#picker-editor">Get started</a>
                <a class="btn btn-link btn-lg py-3 px-5 mb-2 mb-md-0" style="color: white;" data-ripple-color="primary"
                  href="#" role="button" aria-controls="#picker-editor">Learn more</a>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!---->
    </div>

    <div data-draggable="true" class="" style="position: relative;" draggable="false">
      <!---->
      <!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
          <style>
            @media (min-width: 992px) {
              #cta-img-nml-50 {
                margin-left: 50px;
              }
            }
          </style>
          <div class="row gx-0">
            <div class="col-lg-5 mb-4 mb-md-0">
              <div class="d-flex py-md-5"> <img
                  src="/static/img/cloud-technology-web-internet-business-developer-646713-pxhere.com.jpg"
                  class="w-100 rounded-5 shadow-3-strong" id="cta-img-nml-50" style="z-index: 10" alt=""
                  aria-controls="#picker-editor" draggable="false"> </div>
            </div>
            <div class="col-lg-7 mb-4 mb-md-0">
              <div class="h-100 rounded-6 p-4 ps-lg-5 text-white d-flex align-items-center"
                style="background: hsla(0, 0%, 15%, 0.7);">
                <div class="ps-lg-5">
                  <h2 class="fw-bold mb-4" style="color:#177775;">Let it surprise you</h2>
                  <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, sint, repellat vel quo
                    quisquam accusamus in qui at ipsa enim quibusdam illo laboriosam omnis. Labore itaque illum
                    distinctio eum neque!</p>
                  <div class="row mb-2">
                    <div class="col-lg-4">
                      <p><i class="fas fa-check-circle me-2"></i><span>Best team</span></p>
                    </div>
                    <div class="col-lg-4">
                      <p><i class="fas fa-check-circle me-2"></i><span>Best quality</span></p>
                    </div>
                    <div class="col-lg-4">
                      <p> <i class="fas fa-check-circle me-2"></i><span>Best experience</span> </p>
                    </div>
                  </div>
                  <p>Duis sagittis, turpis in ullamcorper venenatis, ligula nibh porta dui, sit amet rutrum enim massa
                    in ante. Curabitur in justo at lorem laoreet ultricies. Nunc ligula felis, sagittis eget nisi
                    vitae, sodales vestibulum purus. Vestibulum nibh ipsum, rhoncus vel sagittis nec, placerat vel
                    justo. Duis faucibus sapien eget tortor finibus, a eleifend lectus dictum. Cras tempor convallis
                    magna id rhoncus. Suspendisse potenti. Nam mattis faucibus imperdiet. Proin tempor lorem at neque
                    tempus aliquet. Phasellus at ex volutpat, varius arcu id, aliquam lectus. Vestibulum mattis felis
                    quis ex pharetra luctus. Etiam luctus sagittis massa, sed iaculis est vehicula ut.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!---->
    </div>
    <div data-draggable="true" class="" style="position: relative;" draggable="false">
      <!---->
      <!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 text-center text-lg-start">
          <style>
            .cascading-right {
              margin-right: -50px;
            }

            @media (max-width: 991.98px) {
              .cascading-right {
                margin-right: 0;
              }
            }
          </style> <!-- Jumbotron -->
          <div class="container py-4">
            <div class="row g-0 align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right"
                  style=" background: hsla(0, 0%, 15%, 0.7); backdrop-filter: blur(30px); ">
                  <div class="card-body py-5 px-md-5 shadow-5">
                    <h3 class="fw-bold" style="color:#177775;">We know how valuable your time is</h3><br>
                    <p class="fw-bold">Anim pariatur cliche reprehenderit?</p>
                    <p class="text-muted mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt autem
                      numquam dolore molestias aperiam culpa alias veritatis architecto eos, molestiae vitae ex
                      eligendi libero eveniet dolorem, doloremque rem aliquid perferendis.</p>
                    <p class="fw-bold" style="color:#177775;">Non cupidatat skateboard dolor brunch?</p>
                    <p class="text-muted mb-4">Distinctio corporis, iure facere ducimus quos consectetur ipsa ut
                      magnam autem doloremque ex! Id, sequi. Voluptatum magnam sed fugit iusto minus et suscipit?
                      Minima sunt at nulla tenetur, numquam unde quod modi magnam ab deserunt ipsam sint aliquid
                      dolores libero repellendus cupiditate mollitia quidem dolorem odit</p>
                    <p class="fw-bold">Praesentium voluptatibus temporibus consequatur non aspernatur?</p>
                    <p class="text-muted mb-0">Minima sunt at nulla tenetur, numquam unde quod modi magnam ab deserunt
                      ipsam sint aliquid dolores libero repellendus cupiditate mollitia quidem dolorem.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-5 mb-lg-0"> <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/075.jpg"
                  class="w-100 rounded-5 shadow-4" alt="" aria-controls="#picker-editor" draggable="false"> </div>
            </div>
          </div> <!-- Jumbotron -->
        </section>
      </section>
      <!---->
    </div>


    <div data-draggable="true" class="" style="position: relative;">
      <!---->
      <!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
          <div class="row gx-xl-5 align-items-center">
            <div class="col-lg-4 mb-4 mb-md-0">
              <h2 class="fw-bold mb-4"> <span class="me-2">Why is it so</span><span style="color:#177775;">Great?</span>
              </h2>
              <p class="text-muted mb-5">Nunc tincidunt vulputate elit. Mauris varius purus malesuada neque iaculis
                malesuada. Aenean gravida magna orci, non efficitur est porta id. Donec magna diam.</p>
            </div>
            <div class="col-lg-8 mb-4 mb-md-0">
              <div class="row">
                <div class="col-lg-6 mb-5">
                  <div class="d-flex align-items-start">
                    <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg fa-fw" style="color: #167372;"></i> </div>
                    <div class="flex-grow-1 ms-3">
                      <p class="fw-bold mb-1">Support 24/7</p>
                      <p class="text-muted mb-0">Pellentesque mollis, metus nec fringilla aliquam. Donec consequat
                        orci quis volutpat imperdiet.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-5">
                  <div class="d-flex align-items-start">
                    <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg fa-fw"style="color: #167372;"></i> </div>
                    <div class="flex-grow-1 ms-3">
                      <p class="fw-bold mb-1">Tracking</p>
                      <p class="text-muted mb-0">Magna lacus iaculis elit, quis pharetra varius. Aenean lectus ex,
                        placerat id tellus in eros.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-5">
                  <div class="d-flex align-items-start">
                    <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg fa-fw" style="color: #167372;"></i> </div>
                    <div class="flex-grow-1 ms-3">
                      <p class="fw-bold mb-1">Reporting</p>
                      <p class="text-muted mb-0">Pellentesque varius ex vel consequat quis. Sed mauris ex, imperdiet
                        sit amet nisl ac, ultrices.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-5">
                  <div class="d-flex align-items-start">
                    <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg fa-fw"style="color: #167372;"></i> </div>
                    <div class="flex-grow-1 ms-3">
                      <p class="fw-bold mb-1">Analytics</p>
                      <p class="text-muted mb-0">Vestibulum gravida iaculis nisl, vel lobortis eros. Praesent
                        vulputate lacus bibendum augue.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-5">
                  <div class="d-flex align-items-start">
                    <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg fa-fw"style="color: #167372;"></i> </div>
                    <div class="flex-grow-1 ms-3">
                      <p class="fw-bold mb-1">Huge community</p>
                      <p class="text-muted mb-0">Praesent vulputate lacus bibendum augue. Pellentesque mollis, metus
                        nec fringilla aliquam.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-5">
                  <div class="d-flex align-items-start">
                    <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg fa-fw"style="color: #167372;"></i> </div>
                    <div class="flex-grow-1 ms-3">
                      <p class="fw-bold mb-1">Easy to use</p>
                      <p class="text-muted mb-0">Sed mauris ex, imperdiet sit amet nisl ac, ultrices. Magna lacus
                        iaculis elit, quis pharetra varius.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-5">
                  <div class="d-flex align-items-start">
                    <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg  fa-fw" style="color: #167372;"></i> </div>
                    <div class="flex-grow-1 ms-3">
                      <p class="fw-bold mb-1">Frequent updates</p>
                      <p class="text-muted mb-0">Aenean lectus ex, placerat id tellus in eros. Pellentesque varius ex
                        vel consequat quis. Sed mauris ex</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-5">
                  <div class="d-flex align-items-start">
                    <div class="flex-shrink-0"> <i class="fas fa-check-circle fa-lg  fa-fw" style="color: #167372;"></i> </div>
                    <div class="flex-grow-1 ms-3">
                      <p class="fw-bold mb-1">Responsive</p>
                      <p class="text-muted mb-0">Donec consequat orci quis volutpat imperdiet. Vestibulum gravida
                        iaculis nisl, vel lobortis eros.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!---->
    </div>
    <div data-draggable="true" class=" " style="position: relative;">
      <!---->
      <!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-11 text-center">
          <style>
            .grayscale {
              filter: grayscale(100%);
            }
          </style>
          <h1 class="fw-bold mb-6" style="color:#177775;">Our Clients</h1>
          <div class="row">
            <div class="col-lg-2 col-4 mb-5 mb-lg-0"> <img
                src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/8.png" class="img-fluid grayscale"
                style="max-width: 90px" alt="" aria-controls="#picker-editor"> </div>
            <div class="col-lg-2 col-4 mb-5 mb-lg-0"> <img
                src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/2.png" class="img-fluid grayscale"
                style="max-width: 90px" alt="" aria-controls="#picker-editor"> </div>
            <div class="col-lg-2 col-4 mb-5 mb-lg-0"> <img
                src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/7.png" class="img-fluid grayscale"
                style="max-width: 90px" alt="" aria-controls="#picker-editor"> </div>
            <div class="col-lg-2 col-4 mb-5 mb-lg-0"> <img
                src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/1.png" class="img-fluid grayscale"
                style="max-width: 90px" alt="" aria-controls="#picker-editor"> </div>
            <div class="col-lg-2 col-4 mb-5 mb-lg-0"> <img
                src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/4.png" class="img-fluid grayscale"
                style="max-width: 90px" alt="" aria-controls="#picker-editor"> </div>
            <div class="col-lg-2 col-4 mb-5 mb-lg-0"> <img
                src="https://mdbootstrap.com/img/Photos/new-templates/landing-page/5.png" class="img-fluid grayscale"
                style="max-width: 90px" alt="Sony - logo" aria-controls="#picker-editor"> </div>
          </div>
        </section>
      </section>
      <!---->
    </div>
    <div data-draggable="true" class="" style="position: relative;" draggable="false">
    </div>
    <div data-draggable="true" class="" style="position: relative;">
      <!---->
      <!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 text-center">
          <style>
            hr.divider-vertical {
              position: absolute;
              right: 0;
              top: 0;
              width: 1px;
              background-image: linear-gradient(180deg, transparent, hsla(0, 0%, 15%, 0.7), transparent);
              background-color: transparent;
              height: 100%;
            }
          </style> <!-- Background image -->
          <div class="p-5  bg-image"
            style="background-image: url(&quot;/static/img/homepage-1.jpg&quot;); height: 300px; background-size: cover; background-position: 50% 50%; background-color: rgba(0, 0, 0, 0);"
            aria-controls="#picker-editor"></div>
          <!-- Background image -->
          <div class="card mx-4 mx-md-5 shadow-5-strong"
            style=" margin-top: -100px; background: hsla(0, 0%, 15%, 0.7); backdrop-filter: blur(30px); ">
            <div class="card-body py-5 px-md-5">
              <div class="row mb-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative"> <i
                    class="fas fa-globe-americas fa-3x mb-4" aria-controls="#picker-editor" style="color:#177775;"></i>
                  <h6 class="fw-normal mb-0">Unites States</h6>
                  <hr class="divider-vertical d-none d-lg-block">
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 position-relative"> <i
                    class="fas fa-map-marker-alt fa-3x mb-4" aria-controls="#picker-editor" style="color:#177775;"></i>
                  <h6 class="fw-normal mb-0">Tampa, 94126</h6>
                  <hr class="divider-vertical d-none d-lg-block">
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative"> <i
                    class="fas fa-phone fa-3x mb-4" aria-controls="#picker-editor" style="color:#177775;"></i>
                  <h6 class="fw-normal mb-0">+ 01 234 567 89</h6>
                  <hr class="divider-vertical d-none d-lg-block">
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 position-relative"> <i
                    class="fas fa-hand-holding-usd fa-3x mb-4" aria-controls="#picker-editor" style="color:#177775;"></i>
                  <h6 class="fw-normal mb-0">Tax ID: 273 384</h6>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                  <form>
                    <!-- Name input -->
                    <div class="form-outline mb-4"> <input type="text" id="form4Example1" class="form-control"> <label
                        class="form-label" for="form4Example1" style="margin-left: 0px;">Name</label>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 42.4px;"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    </div> <!-- Email input -->
                    <div class="form-outline mb-4"> <input type="email" id="form4Example2" class="form-control">
                      <label class="form-label" for="form4Example2" style="margin-left: 0px;">Email address</label>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 88.8px;"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    </div> <!-- Message input -->
                    <div class="form-outline mb-4"> <textarea class="form-control" id="form4Example3"
                        rows="4"></textarea> <label class="form-label" for="form4Example3"
                        style="margin-left: 0px;">Message</label>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 60px;"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    </div> <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4"  > <input class="form-check-input me-2"
                        type="checkbox" value="" id="form4Example4" checked=""> <label class="form-check-label"
                        for="form4Example4" >Send me a copy of this message</label> </div> <!-- Submit button -->
                    <button type="submit" class="btn btn-block"
                      aria-controls="#picker-editor" style="background-color: #167372; color: white">Send</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!---->
    </div>
    <div data-draggable="true" class="" style="position: relative;">
      <!---->
      <!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10 text-center text-md-start">
          <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0">
              <h2 class="mb-4 display-3 fw-bold ls-tight"> <span>Are you ready</span> <br> <span
                  class="" style="color: #167372;">for an adventure?</span> </h2>
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <p class="text-uppercase fw-bold">Learn more</p>
              <p class="text-muted lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officia
                consequatur adipisci tenetur repudiandae rerum quos.</p>
            </div>
          </div>
        </section>
      </section>
      <!---->
    </div>
    </div>
    </div>

    <!-- End your project here-->
    </main>
    <!--Main layout-->



    {% endblock %}