{% extends "base.html" %}


{% block content %}
<!--HERO START-->
<div data-draggable="true" class="" style="position: relative;">
  <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
    <section class="mb-10">
      <!-- Background image -->
      <div class="p-5 text-center bg-image"
        style="background-image: url(&quot;https://mdbootstrap.com/img/new/textures/full/142.jpg&quot;); height: 125px; background-size: cover; background-position: 50% 50%; background-color: rgba(0, 0, 0, 0);"
        aria-controls="#picker-editor"></div> <!-- Background image -->
    </section>
  </section>
</div>
<!--HERO ENDs-->


<!-- Start Services-->

<div id="preview" class="preview">
  <div style="display: none;"></div>
  <div>
    <div data-draggable="true" class="" style="position: relative;" draggable="false"><!----><!---->
      <section draggable="false" class="container pt-5" data-v-271253ee="">
        <section class="mb-10">
          <h2 class="fw-bold mb-5 text-center">Services</h2>
          <div class="row gx-lg-5 mb-5 align-items-center">
            <div class="col-md-6 mb-4 mb-md-0"> <img src="https://mdbootstrap.com/img/new/standard/city/028.jpg"
                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor" draggable="false">
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <h3 class="fw-bold"><a href= "{{url_for('cabling') }}" style="color: #167372;">Structure Cabling</a></h3>
              <p class="text-muted">Ut pretium ultricies dignissim. Sed sit amet mi eget urna placerat vulputate. Ut
                vulputate est non quam dignissim elementum. Donec a ullamcorper diam.</p>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quae nulla saepe rerum
                aspernatur odio amet perferendis tempora mollitia? Ratione unde magni omnis quaerat blanditiis cumque
                dolore placeat rem dignissimos?</p> <a class="btn " href="#" role="button" style="background-color: #167372; color: white;"
                aria-controls="#picker-editor" draggable="false">Read more</a>
            </div>
          </div>
          <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
            <div class="col-md-6 mb-4 mb-md-0"> <img src="https://mdbootstrap.com/img/new/standard/city/033.jpg"
                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor" draggable="false">
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <h3 class="fw-bold"><a href= "{{url_for('consolidation') }}"style="color: #167372;">Consolidation</a></h3>
              <p class="text-muted">Duis sagittis, turpis in ullamcorper venenatis, ligula nibh porta dui, sit amet
                rutrum enim massa in ante. Curabitur in justo at lorem laoreet ultricies. Nunc ligula felis, sagittis
                eget nisi vitae, sodales vestibulum purus. Vestibulum nibh ipsum, rhoncus vel sagittis nec, placerat
                vel justo. Duis faucibus sapien eget tortor finibus, a eleifend lectus dictum. Cras tempor convallis
                magna id rhoncus. Suspendisse potenti. Nam mattis faucibus imperdiet. Proin tempor lorem at neque
                tempus aliquet. Phasellus at ex volutpat, varius arcu id, aliquam lectus. Vestibulum mattis felis quis
                ex pharetra luctus. Etiam luctus sagittis massa, sed iaculis est vehicula ut.</p> <a
                class="btn" href="#" role="button" style="background-color: #167372; color: white;"aria-controls="#picker-editor" draggable="false">Read
                more</a>
            </div>
          </div>
          <div class="row gx-lg-5 mb-5 align-items-center">
            <div class="col-md-6 mb-4 mb-md-0"> <img src="https://mdbootstrap.com/img/new/standard/city/079.jpg"
                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor" draggable="false">
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <h3 class="fw-bold"><a href= "{{url_for('electrical') }}"style="color: #167372;">Electrical</a></h3>
              <p class="text-muted">Sed sollicitudin purus sed nulla dignissim ullamcorper. Aenean tincidunt vulputate
                libero, nec imperdiet sapien pulvinar id. Nullam scelerisque odio vel lacus faucibus, tincidunt
                feugiat augue ornare. Proin ac dui vel lectus eleifend vestibulum et lobortis risus. Nullam in commodo
                sapien. Curabitur ut erat congue sem finibus eleifend egestas eu metus. Sed ut dolor id magna rutrum
                ultrices ut eget libero. Duis vel porttitor odio. Ut pulvinar sed turpis ornare tincidunt. Donec
                luctus, mi euismod dignissim malesuada, lacus lorem commodo leo, tristique blandit ante mi id metus.
                Integer et vehicula leo, vitae interdum lectus. Praesent nulla purus, commodo at euismod nec, blandit
                ultrices erat. Aliquam eros ipsum, interdum et mattis vitae, faucibus vitae justo. Nulla condimentum
                hendrerit leo, in feugiat ipsum condimentum ac. Maecenas sed blandit dolor.</p> <a
                class="btn" href="#" role="button" style="background-color: #167372; color: white;" aria-controls="#picker-editor" draggable="false">Read
                more</a>
            </div>
          </div>
          <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
            <div class="col-md-6 mb-4 mb-md-0"> <img src="https://mdbootstrap.com/img/new/standard/city/033.jpg"
                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor" draggable="false">
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <h3 class="fw-bold"><a href= "{{url_for('engineering') }}"style="color: #167372;">Engineering</a></h3>
              <p class="text-muted">Duis sagittis, turpis in ullamcorper venenatis, ligula nibh porta dui, sit amet
                rutrum enim massa in ante. Curabitur in justo at lorem laoreet ultricies. Nunc ligula felis, sagittis
                eget nisi vitae, sodales vestibulum purus. Vestibulum nibh ipsum, rhoncus vel sagittis nec, placerat
                vel justo. Duis faucibus sapien eget tortor finibus, a eleifend lectus dictum. Cras tempor convallis
                magna id rhoncus. Suspendisse potenti. Nam mattis faucibus imperdiet. Proin tempor lorem at neque
                tempus aliquet. Phasellus at ex volutpat, varius arcu id, aliquam lectus. Vestibulum mattis felis quis
                ex pharetra luctus. Etiam luctus sagittis massa, sed iaculis est vehicula ut.</p> <a
                class="btn" href="#" role="button" style="background-color: #167372; color: white;" aria-controls="#picker-editor" draggable="false">Read
                more</a>
            </div>
          </div>
          <div class="row gx-lg-5 mb-5 align-items-center">
            <div class="col-md-6 mb-4 mb-md-0"> <img src="https://mdbootstrap.com/img/new/standard/city/079.jpg"
                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor" draggable="false">
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <h3 class="fw-bold"><a href= "{{url_for('equipmentinstall') }}"style="color: #167372;">Equipment Install</a></h3>
              <p class="text-muted">Sed sollicitudin purus sed nulla dignissim ullamcorper. Aenean tincidunt vulputate
                libero, nec imperdiet sapien pulvinar id. Nullam scelerisque odio vel lacus faucibus, tincidunt
                feugiat augue ornare. Proin ac dui vel lectus eleifend vestibulum et lobortis risus. Nullam in commodo
                sapien. Curabitur ut erat congue sem finibus eleifend egestas eu metus. Sed ut dolor id magna rutrum
                ultrices ut eget libero. Duis vel porttitor odio. Ut pulvinar sed turpis ornare tincidunt. Donec
                luctus, mi euismod dignissim malesuada, lacus lorem commodo leo, tristique blandit ante mi id metus.
                Integer et vehicula leo, vitae interdum lectus. Praesent nulla purus, commodo at euismod nec, blandit
                ultrices erat. Aliquam eros ipsum, interdum et mattis vitae, faucibus vitae justo. Nulla condimentum
                hendrerit leo, in feugiat ipsum condimentum ac. Maecenas sed blandit dolor.</p> <a
                class="btn" href="#" role="button" style="background-color: #167372; color: white;" aria-controls="#picker-editor" draggable="false">Read
                more</a>
            </div>
          </div>
          <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
            <div class="col-md-6 mb-4 mb-md-0"> <img src="https://mdbootstrap.com/img/new/standard/city/033.jpg"
                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor" draggable="false">
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <h3 class="fw-bold"><a href= "{{url_for('helpdesk') }}"style="color: #167372;">Help Desk</a></h3>
              <p class="text-muted">Duis sagittis, turpis in ullamcorper venenatis, ligula nibh porta dui, sit amet
                rutrum enim massa in ante. Curabitur in justo at lorem laoreet ultricies. Nunc ligula felis, sagittis
                eget nisi vitae, sodales vestibulum purus. Vestibulum nibh ipsum, rhoncus vel sagittis nec, placerat
                vel justo. Duis faucibus sapien eget tortor finibus, a eleifend lectus dictum. Cras tempor convallis
                magna id rhoncus. Suspendisse potenti. Nam mattis faucibus imperdiet. Proin tempor lorem at neque
                tempus aliquet. Phasellus at ex volutpat, varius arcu id, aliquam lectus. Vestibulum mattis felis quis
                ex pharetra luctus. Etiam luctus sagittis massa, sed iaculis est vehicula ut.</p> <a
                class="btn" href="#" role="button" style="background-color: #167372; color: white;" aria-controls="#picker-editor" draggable="false">Read
                more</a>
            </div>
          </div>
          <div class="row gx-lg-5 mb-5 align-items-center">
            <div class="col-md-6 mb-4 mb-md-0"> <img src="https://mdbootstrap.com/img/new/standard/city/079.jpg"
                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor" draggable="false">
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <h3 class="fw-bold"><a href= "{{url_for('managedservices') }}"style="color: #167372;">Managed Services</a></h3>
              <p class="text-muted">Sed sollicitudin purus sed nulla dignissim ullamcorper. Aenean tincidunt vulputate
                libero, nec imperdiet sapien pulvinar id. Nullam scelerisque odio vel lacus faucibus, tincidunt
                feugiat augue ornare. Proin ac dui vel lectus eleifend vestibulum et lobortis risus. Nullam in commodo
                sapien. Curabitur ut erat congue sem finibus eleifend egestas eu metus. Sed ut dolor id magna rutrum
                ultrices ut eget libero. Duis vel porttitor odio. Ut pulvinar sed turpis ornare tincidunt. Donec
                luctus, mi euismod dignissim malesuada, lacus lorem commodo leo, tristique blandit ante mi id metus.
                Integer et vehicula leo, vitae interdum lectus. Praesent nulla purus, commodo at euismod nec, blandit
                ultrices erat. Aliquam eros ipsum, interdum et mattis vitae, faucibus vitae justo. Nulla condimentum
                hendrerit leo, in feugiat ipsum condimentum ac. Maecenas sed blandit dolor.</p> <a
                class="btn" href="#" role="button" style="background-color: #167372; color: white;" aria-controls="#picker-editor" draggable="false">Read
                more</a>
            </div>
          </div>
          <div class="row gx-lg-5 mb-5 flex-lg-row-reverse align-items-center">
            <div class="col-md-6 mb-4 mb-md-0"> <img src="https://mdbootstrap.com/img/new/standard/city/033.jpg"
                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor" draggable="false">
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <h3 class="fw-bold"><a href= "{{url_for('projectmanagement') }}"style="color: #167372;">Project Management</a></h3>
              <p class="text-muted">Duis sagittis, turpis in ullamcorper venenatis, ligula nibh porta dui, sit amet
                rutrum enim massa in ante. Curabitur in justo at lorem laoreet ultricies. Nunc ligula felis, sagittis
                eget nisi vitae, sodales vestibulum purus. Vestibulum nibh ipsum, rhoncus vel sagittis nec, placerat
                vel justo. Duis faucibus sapien eget tortor finibus, a eleifend lectus dictum. Cras tempor convallis
                magna id rhoncus. Suspendisse potenti. Nam mattis faucibus imperdiet. Proin tempor lorem at neque
                tempus aliquet. Phasellus at ex volutpat, varius arcu id, aliquam lectus. Vestibulum mattis felis quis
                ex pharetra luctus. Etiam luctus sagittis massa, sed iaculis est vehicula ut.</p> <a
                class="btn" href="#" role="button" style="background-color: #167372; color: white;" aria-controls="#picker-editor" draggable="false">Read
                more</a>
            </div>
          </div>
          <div class="row gx-lg-5 mb-5 align-items-center">
            <div class="col-md-6 mb-4 mb-md-0"> <img src="https://mdbootstrap.com/img/new/standard/city/079.jpg"
                class="w-100 shadow-4-strong rounded-4 mb-4" alt="" aria-controls="#picker-editor" draggable="false">
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <h3 class="fw-bold"><a href= "{{url_for('wlan') }}"style="color: #167372;">WLAN</a></h3>
              <p class="text-muted">Sed sollicitudin purus sed nulla dignissim ullamcorper. Aenean tincidunt vulputate
                libero, nec imperdiet sapien pulvinar id. Nullam scelerisque odio vel lacus faucibus, tincidunt
                feugiat augue ornare. Proin ac dui vel lectus eleifend vestibulum et lobortis risus. Nullam in commodo
                sapien. Curabitur ut erat congue sem finibus eleifend egestas eu metus. Sed ut dolor id magna rutrum
                ultrices ut eget libero. Duis vel porttitor odio. Ut pulvinar sed turpis ornare tincidunt. Donec
                luctus, mi euismod dignissim malesuada, lacus lorem commodo leo, tristique blandit ante mi id metus.
                Integer et vehicula leo, vitae interdum lectus. Praesent nulla purus, commodo at euismod nec, blandit
                ultrices erat. Aliquam eros ipsum, interdum et mattis vitae, faucibus vitae justo. Nulla condimentum
                hendrerit leo, in feugiat ipsum condimentum ac. Maecenas sed blandit dolor.</p> <a
                class="btn" href="#" role="button" style="background-color: #167372; color: white;" aria-controls="#picker-editor" draggable="false">Read
                more</a>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>

<!-- End Service List-->

{% endblock %}